[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mudnester"]
	path = mudnester
	url = https://github.com/nrsmoll/mudnester
[submodule "starling"]
	path = starling
	url = https://github.com/nrsmoll/starling
